<%# <div>
  <%# <h1>Mes Collections</h1> %>
  <%# <ul> %>
    <%# <% @collections.each do |collection| %>
      <%# <li><%= link_to collection.name, collection_path(collection) %></li>
    <%# <% end %>
  <%# </ul> %>
<%# </div> %>

<div class="collections-scroll-container">
  <% @collections.each do |collection| %>
    <%# On ajoute une classe 'active' si c'est la collection affichée %>
    <%= link_to collection.name, collection_path(collection),
        class: "collection-tab #{'active' if @current_collection&.id == collection.id}" %>
  <% end %>
  
</div>
